/**
 * @file
 * Norblu0 layout styling.
 */

/**
 * Container
 */
.layout-container {
/*  max-width: 860px; */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media all and (min-width: 851px) {
  .layout-container {
/*    max-width: 1290px; */
  }
}

/**
 * Main
 */
.layout-main-wrapper {
  min-height: 300px;
}
.layout-main {
  margin-top: 20px;
/*  margin-bottom: 40px; */
  margin-bottom: 0;
}
/* ###########################################################################*/
/*                                                                            */
/*             Below here are edits made by norwegian.blue                    */
/*                                                                            */
/* ###########################################################################*/

#main-wrapper {
	/*position: relative;*/
	padding: 22px 0 0;
	/*background: transparent url("krtk_interim/themes/custom/krtk_interim/images/main_bg.jpg") repeat scroll 0% 0% / cover;*/
	background: white;
}

#header>.layout-container {
	height: 100%;
}
#header>.layout-container>.region-header {
	height:100%;
	padding: 0;
	position: relative;
}

.region-content picture img {
    margin: 3px 10px 0 0 !important;
}

/* Make footer 'Sticky' */
#page-wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*#page {
  flex: 1;
}*/
#page {
    padding-bottom: 20vh;
}

/* Portfolio Layout */
.flickity-prev-next-button {top:30%;}

@media all and (max-width: 479px) {
    .gallery-cell {
        width: 320px;
        padding: 0 3px;
    }
}@media all and (max-width: 739px) {
    .gallery-cell {
        width: 320px;
        padding: 0 3px;
    }
}
@media all and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {
    .gallery-cell {
        width: 245px;
        padding: 0 5px;
    }
    .gallery-cell img{
        width:240px;
        height: auto;
    }
    .gallery-cell.is-selected {
        width: 264px;
        padding: 0 ;
        z-index:10;
    }
    .gallery-cell.is-selected  img {
        width: 264px;
        height: auto;
    }
}
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) {
    .gallery-cell {
        width: 325px;
        padding: 0 5px;
    }
    .gallery-cell img{
        width:320px;
        height: auto;
    }
    .gallery-cell.is-selected {
        width: 355px;
        padding: 0 ;
        z-index:10;
    }
    .gallery-cell.is-selected  img {
        width: 355px;
        height: auto;
    }
}
/*@media all and (min-width: 1220px) {
    .gallery-cell {
        width: 400px;
        padding: 0 3px;
    }
}*/
@media all and (min-width: 980px) {
    .region-content .content {
        width: 70%;
        margin: auto;
    }
    .path-portfolio .region-content .content {
        width: 98%;
        margin: auto;
    }
}
.gallery-cell .views-field-description__value,
.gallery-cell .views-field-field-site-desc {display: none}
.gallery-cell.is-selected .views-field-description__value,
.gallery-cell.is-selected .views-field-field-site-desc {display: block}