/**
 * @file
 * Visual styles for Norblu0's blocks.
 */

/* Block has it's own content wrapper. */
/*.block .content{
  margin-top: 10px;
}*/ 
#block-krtk-interim-branding {
	float : left;
	position: relative;
	z-index: 100;
	
}
#block-krtk-interim-branding a.site-branding__logo img {
max-width: 170px; max-height:150px;}

@media all and (max-width: 740px) {
	#block-krtk-interim-branding a.site-branding__logo img {
max-width: 100px; max-height:80px;}
}

#block-mainnavigation-2 {
	width: 100%;
	position:absolute;
	box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333);
}

